<div class="flex items-center justify-center min-h-screen bg-slate-200">
  <div class="col-span-12">
    <div class="overflow-auto lg:overflow-visible">
      <div class="mt-3 flex-start">
        <p style="color: green"><%= notice %></p>
        <h1 class="mb-4 text-3xl font-black text-gray-900">Editing purchase</h1>
        <div>
          <%= render "form", purchase: @purchase %>
          <div>
            <%= link_to "Show", category_purchase_path %> |
            <%= link_to "Back", category_purchases_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
