<div class="flex items-center justify-center min-h-screen bg-slate-500">
  <div class="col-span-12">
    <div class="overflow-auto lg:overflow-visible">
      <div class="mt-3 flex-start">
        <p style="color: green"><%= notice %></p>
        <h1 class="mb-4 text-3xl font-black text-slate-100">Purchases</h1>
        <div>
          <%= link_to fa_icon("plus", class: "text-slate-100"), new_category_purchase_path, class: "btn-secondary" %>
        </div>
      </div>
      <div id="purchases">
        <%= render 'shared/purchase_table' do %>
          <% @purchases.each do |purchase| %>
            <%= render purchase %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
