<p style="color: green"><%= notice %></p>
<%= render @purchase %>
<div>
  <%= link_to "Edit", edit_category_purchase_path(@purchase), class: "btn-primary" %> |
  <%= link_to "Back", category_purchases_path, class: "btn-secondary" %>
</div>
