<table class="table text-gray-400 border-separate space-y-6 text-sm">
  <thead class="bg-gray-800 text-gray-500">
    <tr>
      <th>Name</th>
      <th>Icon</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= yield%>
  </tbody>
</table>
