<table class="table text-slate-200 border-separate space-y-6 text-sm">
  <thead class="bg-gray-800 text-slate-200">
    <tr>
      <th class="p-3 text-left">Icon</th>
      <th class="p-3 text-left">Name</th>
      <th class="p-3 text-left">Purchases</th>
      <th class="p-3 text-left">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= yield%>
  </tbody>
</table>
