<div class="p-10">
  <table class="table-auto min-w-full">
    <thead class="bg-gray-800 text-gray-300" >
      <tr>
        <th>Name</th>
        <th>Icon</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= yield%>
    </tbody>
  </table>
</div>
