<div class="p-10">
  <table class="table-auto min-w-full">
    <thead class="bg-gray-800 text-gray-300" >
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Category</th>
        <th colspan="4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% yield %>
    </tbody>
  </table>
</div>
