@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply border border-green-500 bg-green-500 text-white rounded-lg py-3 font-semibold;
  }

  .btn-secondary {
    @apply py-2 px-4 bg-sky-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75 mt-7;
  }

  .btn-destroy {
    @apply py-2 px-4 bg-red-500 text-white font-semibold rounded-lg shadow-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75 -mt-7;
  }

  .links {
    @apply text-blue-800;
  }

  .inputs {
    @apply border rounded-lg py-3 px-3 bg-gray-700 border-gray-700 placeholder-gray-500;
  }

  li {
    list-style-type: none;
  }

  .table {
    border-spacing: 0 15px;
  }

  i {
    font-size: 1rem !important;
  }

  .table tr {
    border-radius: 20px;
  }

  tr td:nth-child(n + 5),
  tr th:nth-child(n + 5) {
    border-radius: 0 0.625rem 0.625rem 0;
  }

  tr td:nth-child(1),
  tr th:nth-child(1) {
    border-radius: 0.625rem 0 0 0.625rem;
  }
}
