<tr class="odd:bg-gray even:bg-blue-100">
  <td><%= category.name %></td>
  <td><%= category.icon %></td>
  <td>
    <li class="flex">
      <%= link_to "Show", category, class: "links", class: "btn-secondary" %>
    </li>
    | 
    <li>
      <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-destroy" %>
    </li>
  </td>
</tr>
