<div class="flex items-center justify-center min-h-screen bg-gray-900">
  <div class="text-white mt-10">
    <h1 class="font-bold text-4xl">Editing category</h1>
    <br />
    <%= render "form", category: @category %>
    <div>
      <%= link_to "Show", @category, class: "links" %> |
      <%= link_to "Back", categories_path,  class: "links" %>
    </div>
    <br />
  </div>
</div>
