<h1>Editing category</h1>
<%= render "form", category: @category %>
<br>
<div>
  <%= link_to "Show this category", @category, class: "links" %> |
  <%= link_to "Back to categories", categories_path,  class: "links" %>
</div>
