<div class="flex items-center justify-center min-h-screen bg-gray-900">
  <div class="col-span-12">
    <div class="overflow-auto lg:overflow-visible ">
      <p style="color: green"><%= notice %></p>
      <div class="mt-3 flex-start">
        <h1 class="mb-4 text-3xl font-black text-white">Categories</h1>
        <%= link_to fa_icon("plus"), new_category_path, class: "btn-secondary" %>
      </div>
      <div id="categories">
        <%= render 'shared/category_table' do %>
          <% @categories.each do |category| %>
            <%= render category %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
