<p style="color: green"><%= notice %></p>
<%= render @category %>
<form>
  <label class="block">
    <div>
      <%= link_to "Edit", edit_category_path(@category),  class: "links" %> |
      <%= link_to "Back", categories_path, class: "links" %>
    </div>
  </label>
</form>
